
<footer>
  <div class="row">
      <div class="small-12 medium-4 column">
	<h5>Stadt Rodgau</h5>
	<p>Susi Mustermann <br>
	06106 693 - 1111
	<br> gestalten@rodgau.de
	<br><br>Hintergasse 15
        <br>63110 Rodgau
	</p>        

      </div>	
    
      <div class="small-12 medium-4 column">
          <h5>Support</h5>
          <p>Für Ihre Fragen und<br>Anregungen freuen wir uns <br>hier über Ihren Input.</p>
      </div>
     
 
     <div class="small-12 medium-4 column">
       <h5>
        <%= link_to t("layouts.header.open_gov"), root_path %>
      </h5>
      <p> 
      <%= sanitize(t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow"))) %>
      
	</p>
     </div>   
  </div>

  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
      </ul>
    </div>

    <%= render Layout::SocialComponent.new %>
  </div>
</footer>
